extends layout

block content

  ul.listings
    for listing in listings
      li.listing
        a(href=listing.url)
          img(src=listing.Images[0]["url_570xN"])
          h3= listing.title.replace("Vintage ", "")
