@font-face
  font-family 'go'
  src url('/fonts/go-book.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'go'
  src url('/fonts/go-med.woff') format('woff')
  font-weight bold
  font-style normal
